In [31]:
import pandas as pd
import numpy as np

In [36]:
series = pd.DataFrame([[1,3,4,4],['a','b','c']],["type","name"])

In [37]:
series = series.T
series

  type name
0    1    a
1    3    b
2    4    c
3    4  NaN

In [30]:
gb = series.groupby(type)
gb

In [32]:
np.arange(1,3)

array([1, 2])

In [35]:
np.arange(np.log10(10),np.log10(20)+0.8, 0.8)

array([1. , 1.8])

In [38]:

num =8
data = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]
data = [data[i:i + num] for i in range(0, len(data), num)]

In [12]:
import pandas as pd
my_dict = {'i': 1, 'love': 2, 'you': 3}
my_df = pd.DataFrame(my_dict,index=[0])
my_df

   i  love  you
0  1     2    3

In [4]:
my_df

NameError: name 'my_df' is not defined

In [13]:
data = pd.read_csv("data/mobike_shanghai_sample_updated.csv")

In [28]:
data.loc[:, ["orderid","start_time"]]

        orderid        start_time
0         78387  2016-08-20 06:57
1        891333  2016-08-29 19:09
2       1106623  2016-08-13 16:17
3       1389484  2016-08-23 21:34
4        188537  2016-08-16 07:32
...         ...               ...
102356  1479550  2016-08-28 18:03
102357  1478273  2016-08-14 20:22
102358   367733  2016-08-27 09:54
102359    64915  2016-08-20 06:04
102360   326987  2016-08-09 10:51

[102361 rows x 2 columns]